<h1>Deck No. <%= @question.deck.id %>: <%= @question.deck.name %></h1>
<br>
<p id="notice"><%= notice %></p>


<p>
  The correct answer is:
  <b><%= @question.answer.content %></b>
</p>


<br>
<h2><%= link_to 'Next', deck_url(@question.deck) %> </h2>


<%= link_to 'Back to Home', root_path %>
