<h1>LearnApp Home</h1>
<br>

<%= form_for :deckselect, :url => {:action => :quiz} do |f| %>
<%= f.label 'Enter your question deck ID'%>
<%= f.text_field :id %>
<%= f.submit "Start studying!"%>
<% end %>

<br><br>

<%= link_to "Create a new question deck (through CSV file)", new_deck_url%> <br>
<%= link_to "Create a new question deck (through form)", "#"%>