<!DOCTYPE html>
<html>
<head>
  <title>LearnApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.7.1" %>
  <%= javascript_include_tag "cookies" %>
  <%= javascript_include_tag "initial" %>
  <%= csrf_meta_tags %>
</head>
<body>

CUSTOM!!!!!

<%= yield %>

</body>
</html>
